@-webkit-keyframes fadeIn {
100% { opacity: 1; }
0% { opacity: 0.5; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
100% { opacity: 1; }
0% { opacity: 0.5;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
100% { opacity: 1; }
0% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes fadeIn {
100% { opacity: 1; }
0% { opacity: 0.5; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 1s ease-in-out;
-moz-animation: fadeIn 1s ease-in-out;
-o-animation: fadeIn 1s ease-in-out;
animation: fadeIn 1s ease-in-out}

#html{
background-color: #000000;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:hover
{
	transform: translate(1px,2px);
    -webkit-transform: translate(1px,2px);
	border-bottom: 1px solid;
}

#portifolio{
	position: relative;
	width: 100%;
	height:500px;
	background-color:rgba(16, 16, 16, 0.5);
	color: #fff;
}

.titulo{
	position: absolute;
	margin-left: 15%;
	margin-top: 55px;
}

.texto{
	position: absolute;
	margin-left: 15%;
	margin-top: 110px;
}

