.live-chat-widget {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1001;
    font-family: sans-serif;
    /* visibility: hidden; */
    backface-visibility: hidden;
  }
  
  .live-chat-button {
    appearance: none;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    display: block;
    visibility: hidden;
    background-color: #E80B0B;
    border-radius: 100%;
    box-shadow: rgba(0,0,0,.15) 0 2px 8px;
    transform-origin: center center;
    transition: .15s ease;
    animation-name: live-chat-popin;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards;
  }
  
    .live-chat-button:hover {
      background-color: #FF2323;
    }
  
    .live-chat-button:active {
      transform: scale(.9);
    }
  
    .live-chat-button svg {
      display: block;
      width: 64px;
      height: 64px;
      fill: #fff;
    }
  
  .live-chat-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    visibility: hidden;
    margin-right: 20px;
    padding: 12px 20px;
    white-space: nowrap;
    /*width: 130px;*/
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    opacity: 0;
    transition: opacity .15s ease;
    transform: translateY(-50%);
    animation-name: live-chat-tooltip-popin;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    pointer-events: none;
    /* backdrop-filter: blur(2px); */
    animation-fill-mode: forwards;
  }
  
    .live-chat-tooltip:after {
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-width: 8px 0 8px 8px;
      border-style: solid;
      border-color: transparent transparent transparent rgba(0,0,0,.75);
      transform: translateY(-50%);
    }
  
  .live-chat-widget:hover .live-chat-tooltip {
    visibility: visible;
    opacity: 1;
    animation-fill-mode: none;
  }
  
  
  @keyframes live-chat-popin {
    0% {
      visibility: visible;
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      visibility: visible;
      opacity: 1;
      transform: scale(1.25);
    }
  
    100% {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes live-chat-tooltip-popin {
    0%,100% {
      visibility: visible;
      opacity: 0;
    }
  
    15%,
    85% {
      visibility: visible;
      opacity: 1;
    }
  }
  
  