<!DOCTYPE html>

<html id="html">

<head>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/Content/css/estilo1.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/estilo.css">
    <link rel="stylesheet" href="/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>

    <link rel="shortcut icon" href="/Content/img/icon.png" sizes="16x16">

    <meta name="keywords" content="Software para imobiliarias, sites imobiliários, imobiliaria, publicação de anúncios,
  portais imobiliários, zap, vivareal, wimoveis, imóvel web">
    <meta name="description" content="Emprese de tecnologia, sites e sistemas com as melhores tecnologias do mercado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="fadeIn">
    <!-- Espaço destinado exclusivamente a logo -->
    <section class="espacologo">
        <!-- Menu -->
        <a href="/">
            <img src="/Content/img/logo-allmatech.png">
        </a>

    </section>
    <!-- FIM espaço para logo -->
    <!-- MENU NA HORIZONTAL -->
    <div id="containerMenu">
        <div class="menu">
            <ul class="center">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/Portfolio">PORTIFÓLIO</a>
                </li>
                <li>
                    <a href="/Contato">CONTATO</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- FIM MENU NA HORIZONTAL -->





<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 style="margin-top: 35px;">Contato</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form start -->
<section id="contact-form">
    <div class="container">
        <div class="row">
            <form method="post" name="form" action="/Home/EnviaEmail">
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Seu nome" id="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Endereço de E-mail" id="email" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="telefone" class="form-control" placeholder="Telefone" id="telefone" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <div class="form-group-2">
                            <textarea class="form-control" name="message" rows="3" placeholder="Mensagem" id="msg" autocomplete="off"></textarea>
                        </div>
                        <button class="btn btn-default" type="button" id="send_button">Enviar Mensagem</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="contact-box" class="row">
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Ou se preferir:</h2>
                    <ul class="address-block">
                        <li>
                            <i class="fa fa-map-marker"></i>Rua 09 Norte, Lote 01, Salas 607 e 609 - Águas Claras, Brasília - DF, 71908-540
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>Email: atendimento@allmatech.com.br
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Telefone: 61 3033-2184
                        </li>
                    </ul>

                    <ul class="social-icons"></ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="block">
                    <h2>Nosso endereço: </h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.4122701027904!2d-48.01864888565656!3d-15.834914728170142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae8905881a1%3A0xae293fc5b1737158!2sAllmatech+Tecnologia+da+Informa%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1511439201838"
                            width="550" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!--FOOTER -->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Allmatech</h3>

        <p class="footer-links">
            <a href="/">Home</a>
            ·
            <a href="/Portfolio">Portifólio</a>
            ·
            <a>Contato</a>
        </p>

        <p class="footer-company-name">Allmatech &copy; 2017</p>
    </div>

    <div class="footer-right">

        <div class="footer-icons">

            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>

        </div>

    </div>

</footer>
<!-- FIM FOOTER -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/Content/mask/dist/jquery.mask.min.js"></script>
<script src="/Scripts/foneMask.js"></script>
<script src="/Scripts/sendMail.js"></script>



</body>
</html>
