<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <!-- estilo -->
    <link href="Content/css/form.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row vertical-offset-80" id="bloco">
            <div class="col-md-12">
                <div class="panel panel-default" id="formPanel">
                    <div class="panel-heading">
                        <div class="row-fluid user-row">
                            <img src="Content/img/logo-allmatech.png" class="img-responsive" alt="Chat de ajuda" />
                        </div>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" class="form-signin" action="/chat" method="post" id="form">
                            <label class="panel-login">
                                <div class="login_result"></div>
                            </label>
                            <input placeholder="Nome" id="apelido" name="apelido" type="text">
                            <br/>
                            <input placeholder="e-mail" id="email" name="email" type="text">
                            <br/>
                            <input placeholder="Número" id="numero" name="numero" type="tel">
                            <br/>
                            <input id="imobiliaria" name="tipo" type="radio" value="imobiliaria" checked style="width:15px; height: 15px; display: inline;"> &nbsp;
                            <label for="imobiliaria"> Imbiliária</label>
                            &nbsp;
                            <input id="corretor" name="tipo" type="radio" value="corretor" style="width:15px; height: 15px; display: inline;"> &nbsp;
                            <label for="corretor"> Corretor</label>
                            <br/>
                            <select name="cidade" id="cidade">
                                <option value="Select" disabled selected>Selecione sua cidade</option>
                                <option value="Aguas Claras">Aguas Claras</option>
                                <option value="Lago Norte">Lago Norte</option>
                                <option value="outra">outras</option>
                            </select>
                            <br/>
                            <input type="text" placeholder="Outra cidade" id="OutraCidade" name="outra">
                            <br/><br/>
                            <fieldset>
                                <button type="submit" class="btn btn-lg btn-success btn-block" id="entrar">Entrar »</button>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
</body>

</html>
