<!DOCTYPE html>

<html id="html">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="cssChat/chat.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/estilo1.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/estilo.css">
    <link rel="stylesheet" href="/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>



    <link rel="shortcut icon" href="/Content/img/icon.png" sizes="16x16">

    <meta name="keywords" content="Software para imobiliarias, sites imobiliários, imobiliaria, publicação de anúncios,
  portais imobiliários, zap, vivareal, wimoveis, imóvel web">
    <meta name="description" content="Emprese de tecnologia, sites e sistemas com as melhores tecnologias do mercado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="fadeIn">
    <!-- Espaço destinado exclusivamente a logo -->
    <section class="espacologo">
        <!-- Menu -->
        <a href="/">
            <img src="/Content/img/logo-allmatech.png">
        </a>

    </section>
    <!-- FIM espaço para logo -->
    <!-- MENU NA HORIZONTAL -->
    <div id="containerMenu">
        <div class="menu">
            <ul class="center">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/Portfolio">PORTIFÓLIO</a>
                </li>
                <li>
                    <a href="/Contato">CONTATO</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- FIM MENU NA HORIZONTAL -->




<!-- SLIDE -->

<div id="slide">
    <ul>
        <li>
            <span>
                <h2 id="texto-slide1">Ollympus</h2>
                <p id="subtexto-slide1">"Alguns empreendimentos são difíceis de explicar, outros não"</p>
            </span>
            <a href="/Contato">
                <button class="bt action-button animate" id="slide-btn2">Solicitar Orçamento</button>
            </a>
            <img src="/Content/img/slide01.jpg">
        </li>

        <li>
            <span>
                <h2 id="texto-slide2">Villa</h2>
                <p id="subtexto-slide2">"Compartilhamento de portifólio de imóveis"</p>
            </span>
                <a href="/Contato">
                    <button class="bt action-button animate" id="slide-btn2">Solicitar Orçamento</button>
                </a>
            <img src="/Content/img/slide02.jpg">
        </li>
    </ul>
</div>


<!-- FIM SLIDE -->

<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>Quem é a Allmatech</h2>
                        <p>"Atualmente a empresa atua em todo o território nacional, atendendo clientes em diversos estados brasileiros."</p>
                    </div>
                    <p>
                        Sediada em Brasília, atuando no mercado nacional desde 2003, a Allmatech é uma empresa de tecnologia que oferece aos seus clientes
                        soluções que concentram-se no negócio do cliente, buscando incorporar sua expertise às soluções propostas.
                    </p>
                    <p>
                        A empresa nasceu da percepção de que o mercado precisa de soluções de tecnologia mais aderentes, que visem aproveitar as boas
                        práticas de cada cliente, agregando valor estratégico para os administradores, além da automação operacional.
                    </p>
                </div>
            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="/Content/img/wrapper-img.gif" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h2 style="color: #fff">Nós acreditamos em ideias!</h2>
                <p style="color: #fff">Sempre demos um valor extremo a ideias, sonhos, e isso foi oque nos impulsionou a esta onde estamos</p>
                <p style="color: #fff">
                    Com mais de 10 anos no mercado nossa representatividade cresceu bastante juntamente com nossa credibilidade e confiança
                    que a nós é depositada
                </p>

                <a href="/Portfolio" class="btn btn-view-works" style="background-color: #000">Ver Portifólio</a>
            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Nossos produtos</h2>
                <p>"Se você traçar metas absurdamente altas e falhar, seu fracasso será muito melhor que o sucesso de todos"</p>
            </div>
        </div>
        <div id="product-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="block">
                            <div class="section-title">
                                <h2>Allmatech Ollympus</h2>
                                <p>"Agilizando o seu dia a dia"</p>
                            </div>
                            <p>
                                O Allmatech Ollympus é um software que foi criado a partir da necessidade que todas as imobiliárias
                                têm de gerenciar seus processos internos de vendas e locação, aumentando a eficiência e agilidade
                                de seus colaboradores.
                            </p>
                            <p>
                                A plataforma 100% online, mobile podendo ser utilizada com smartphones. Leve sua imobiliária para
                                onde você estiver a qualquer hora e em qualquer lugar.
                            </p>
                        </div>
                        <br>
                        <div id="btn-siba-mais">
                            <button type="button" class="btn btn-default"  onclick="window.open('http://ollympus.allmatech.com.br')">Saiba mais aqui</button>
                        </div>
                    </div>
                    <!-- .col-md-7 close -->
                    <div class="col-md-5 col-sm-12">
                        <div class="block">
                            <img src="/Content/img/ollympus.png" alt="Imagem do Ollympus bolada">
                        </div>
                    </div>
                    <!-- .col-md-5 close -->
                </div>
            </div>
        </div>

        <div id="product-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-md-push-5">
                        <div class="block" style="margin-left: 30px;">
                            <div class="section-title">
                                <h2>Allmatech Villa</h2>
                                <p>"Fazendo sua vida mais fácil"</p>
                            </div>
                            <p>
                                Para pessoas e empresas habilitadas a atuar no ramo imobiliário, fazemos a gestão de divulgação da
                                carteira de imóveis.
                            </p>
                            <p>
                                O Allmatech Villa é um software que foi criado a partir da necessidade que todas as imobiliárias
                                têm de gerenciar à divulgação de seus anúncios de vendas e locação, aumentando a eficiência e
                                resultado de suas divulgações.
                            </p>
                        </div>
                        <br>
                        <div id="btn-siba-mais" style="margin-left: 30px;">
                            <button type="button" class="btn btn-default" onclick="window.open('http://villa.allmatech.com.br')">Saiba mais aqui</button>
                        </div>
                    </div>
                    <!-- .col-md-7 close -->
                    <div class="col-md-5 col-sm-12 col-md-pull-7">
                        <div class="block">
                            <img src="/Content/img/villa.png" alt="Imagem do Villa bolada">
                        </div>
                    </div>
                    <!-- .col-md-5 close -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Nós da Allmatech temos o maior prazer em atende-los</h2>
                    <p>Nos ligue, entrem em contato, teremos o maior prazer em atende-los da melhor forma possivel!</p>
                    <a class="btn btn-default btn-call-to-action" href="/Contato">Nos conte oque deseja!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="chat-icon">
    <svg width="60" height="60">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chat"></use>
    </svg>
  </div>

  <div class="live-chat-widget">
    <button class="live-chat-button" href="#" onclick="window.open(this.href='/chatForm', 'mywin','left=50,top=50,width=850,height=450,toolbar=0'); return false;" name="chat_submit"  class="chat_submit" id="chat_submit" value="Iniciar Chat">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
        <g>
          <path d="M19.6906034,42 L16.0186034,42 L16.0186034,38.191 C16.8225403,39.8075313 18.1045912,41.1374148 19.6906034,42 L19.6906034,42 Z M32.8906034,28.823 L24.1056034,28.823 C21.2769557,28.8623314 19.0045252,31.1665788 19.0045252,33.9955 C19.0045252,36.8244212 21.2769557,39.1286686 24.1056034,39.168 L32.8906034,39.168 C35.7192772,39.1297774 37.9926152,36.8264042 37.993709,33.9974724 C37.9948028,31.1685406 35.7232468,28.86341 32.8946034,28.823 L32.8906034,28.823 Z M33.0956034,41.987 L23.9026034,41.987 C19.5238896,41.9380177 16,38.3744878 16,33.9955 C16,29.6165122 19.5238896,26.0529823 23.9026034,26.004 L33.0956034,26.004 C37.4743172,26.0529823 40.9982068,29.6165122 40.9982068,33.9955 C40.9982068,38.3744878 37.4743172,41.9380177 33.0956034,41.987 L33.0956034,41.987 L33.0956034,41.987 Z"/>
          <path d="M43.3348891,38 L47.002,38 L47.002,34.1886179 C46.1991335,35.8061602 44.9187896,37.1368753 43.3348891,38 Z M41.2376851,37.6797999 C41.736668,36.5164423 41.9948731,35.2637362 41.9966732,33.9974984 C42.1202003,29.1577393 38.308152,25.1322451 33.4780304,25.0018762 L23.75,25.0018762 C25.2367988,23.1081124 27.5080185,22.0018071 29.9127837,22 L39.0935437,22 C43.0403337,22.0588384 46.3527008,24.9968079 46.8897425,28.9149928 C47.4267843,32.8331777 45.027519,36.5570769 41.2426784,37.6797999 L41.2376851,37.6797999 Z" opacity=".75"/>
        </g>
      </svg>
    </button>
    <div class="live-chat-tooltip">
      <strong>Precisa de ajuda?</strong><br />
      Fale com um atendente
    </div>
  </div>
  
  </p></div>

<script type="text/javascript" src="/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.cycle.all.js"></script>
<script src="/Scripts/chat.js"></script>
<script type="text/javascript">

    $(function () {
      $("#slide ul").cycle({

        fx: 'fade',
        speed: 2000,
        timeout: 3000,
        prev: '#antes',
        next: '#depois',
      })


    })
</script>



</body>
</html>
