<link href="Content/css/operador.css" rel="stylesheet">
<div class="login">
	<h1>Login</h1>
    <form method="post" action="/operador">
    	<input type="text" name="u" placeholder="E-mail" required="required" />
        <input type="password" name="senha" placeholder="Senha" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Logar</button>
    </form>
</div>
