<!DOCTYPE html>

<html id="html">

<head>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/Content/css/estilo1.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/estilo.css">
    <link rel="stylesheet" href="/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>

    <link rel="shortcut icon" href="/Content/img/icon.png" sizes="16x16">

    <meta name="keywords" content="Software para imobiliarias, sites imobiliários, imobiliaria, publicação de anúncios,
  portais imobiliários, zap, vivareal, wimoveis, imóvel web">
    <meta name="description" content="Emprese de tecnologia, sites e sistemas com as melhores tecnologias do mercado">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="fadeIn">
    <!-- Espaço destinado exclusivamente a logo -->
    <section class="espacologo">
        <!-- Menu -->
        <a href="/">
            <img src="/Content/img/logo-allmatech.png">
        </a>

    </section>
    <!-- FIM espaço para logo -->
    <!-- MENU NA HORIZONTAL -->
    <div id="containerMenu">
        <div class="menu">
            <ul class="center">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/Portfolio">PORTIFÓLIO</a>
                </li>
                <li>
                    <a href="/Contato">CONTATO</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- FIM MENU NA HORIZONTAL -->





<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 style="margin-top: 25px;">Algumas de nossas realizações no mercado</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Start -->

<section id="parceiria-microsoft">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-md-push-5">
                <div class="block">
                    <div class="section-title">
                        <h2>Microsoft Partner</h2>
                    </div>
                    <p>
                        A Allmatech é Microsoft Certfied Partner. A Allmatech utiliza as ferramentas da Microsoft para desenvolvimento
                        dos seus sistemas utilizando toda a segurança que a Microsoft oferece.
                    </p>
                </div>
            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12 col-md-pull-7">
                <div class="block">
                    <img src="/Content/img/microsoft-partner.jpg" alt="Imagem Microsoft partner">
                </div>
            </div>
            <!-- .col-md-5 close -->
        </div>
    </div>
</section>

<!-- Partners Logo Section Start -->
<section id="clients-logo-section">
    <div id="title-parceiros">
        <h2>Parceiros do mercado imobiliário</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div id="clients-logo" class="owl-carousel">
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo1.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo2.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo3.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo4.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo5.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo6.png" alt="Features">
                        </div>
                        <div class="clients-logo-img">
                            <img src="/Content/img/partners/partners-logo7.png" alt="Features">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--FOOTER -->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Allmatech</h3>

        <p class="footer-links">
            <a href="/">Home</a>
            ·
            <a>Portifólio</a>
            ·
            <a href="/Contato">Contato</a>

        </p>

        <p class="footer-company-name">Allmatech &copy; 2017</p>
    </div>

    <div class="footer-right">

        <div class="footer-icons">

            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>

        </div>

    </div>

</footer>
<!-- FIM FOOTER -->

<script src="/Scripts/owl.carousel.min.js"></script>
<script src="/Scripts/plugins.js"></script>
<script src="/Scripts/main.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>


</body>
</html>
